<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  
  <servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<servlet-class>user.UserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/UserInfoServlet</url-pattern>
	</servlet-mapping>
  
  
  <servlet>
		<servlet-name>DeleteSessionServlet</servlet-name>
		<servlet-class>user.DeleteSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSessionServlet</servlet-name>
		<url-pattern>/DeleteSessionServlet</url-pattern>
	</servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>